<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Register</h1>
<form th:action="@{/register}" method="post">
    <div th:if="${wrongName}" class="alert alert-success">
        Nazwa jest już zajęta.
    </div>
    Login*:<br>
    <input type="text" name="username"><br>
    Password*:<br>
    <input type="text" name="password"><br>
    email*:<br>
    <input type="text" name="email"><br>
    phone:<br>
    <input type="text" name="phone"><br>
    firstname:<br>
    <input type="text" name="firstname"><br>
    lastname:<br>
    <input type="text" name="lastname"><br>

    <input type="submit" value="sing up!">
</form>

<h6>*requested field</h6>

</body>
</html>